.image{
 padding-top: 350px;
 padding-bottom: 350px;
 text-align: center;
 color: #f8f8f8;
 background: url(penguin1.jpg) no-repeat center center;
 background-size: cover;
}

.thumbnail{
    display: inline-block;
    height:auto;
    padding:4px;
    margin-bottom:20px;
    background-color:#fff;
    border:1px solid #a4a4a4;
    text-align: center;
    color:#666;
    margin:50px;
}